body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: #d5ebecff
}
h1{
    text-align: center;
    background: #ffffff;
    box-shadow:0 6px 18px rgba(15,23,36,0.06);
    margin: 15px;
    padding: 5px;
    border-radius:12px;
}
form{
    background: #ffffffff;
    box-shadow:0 6px 18px rgba(15,23,36,0.06);
    margin: 15px;
    padding: 10px;
    border-radius:12px;
}
input{
    margin: 5px;
}