body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #d5ebecff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  background: #ff3b3bff;
  box-shadow: 0 6px 18px rgba(15, 23, 36, 0.06);
  border: 2px solid black;
  margin: 20px;
  padding: 10px 30px;
  border-radius: 12px;
  align-items: center;
  color: #f5f5f5;
}
fieldset {
  background: #ff3b3bff;
  border: 2px solid black;
  width: 75%;
  border-radius: 12px;
  margin: 12px
}
legend {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #ff3b3bff;
  border-radius: 12px;
}
.titulo {
  font-size: 1.2rem;
}
input,
select {
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 0.95rem;
}
input[type="submit"],
button {
  background-color: #ff3b3bff;
  color: white;
  border: 2px solid black;
  padding: 10px 16px;
  border-radius: 6px;
  width: 10%;
  margin: 13px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
  background-color: #7d0000ff;
}
.links {
  display: flex;
  justify-content: center;
  background: #ff3b3bff;
  border-bottom: 2px solid black;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.links div {
  margin: 0 1.5rem;
}

.links a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.links a:hover {
  color: #7d0000ff;
  transform: scale(1.1);
}
img {
  margin: 30px;
  width: 40%;
  border-radius: 12px;
  float: left;
}
.pedir {
  width: 40%;
  height: 255px;
  margin: 30px;
}
.pedir a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}