body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #d5ebec;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  background: #ffffff;
  box-shadow: 0 6px 18px rgba(15, 23, 36, 0.06);
  margin: 20px;
  padding: 10px 30px;
  border-radius: 12px;
  width: fit-content;
}

form {
  background: #ffffff;
  box-shadow: 0 6px 18px rgba(15, 23, 36, 0.06);
  padding: 25px 30px;
  border-radius: 12px;
  width: 80%;
  max-width: 900px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 30px;
}

.titulos {
  font-weight: bold;
  font-size: 1.4rem;
}

.ast {
  font-weight: bold;
  font-size: 1.4rem;
  color: red;
  margin-left: 3px;
}

input,
select {
  margin: 6px 0;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.95rem;
}

.nombre,
.direccion,
.email,
.telefono {
  flex: 1 1 400px; 
  min-width: 300px;
}

input[type="submit"],
button {
  background-color: #008c9e;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
  background-color: #006e7d;
}
