.contenido {
    colspan: 3 ;
    text-align: center;
}
a:link {
    color: peru;
    text-decoration: none;
}
a:visited {
    color: violet;
    text-decoration: none;
}
a:focus {
    color: red;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: none;
}
a:active {
    color: purple;
    text-decoration: none;
}